<!-- app/templates/products.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Products{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}

{% block content %}

    <div class="block-h3">
        <a class="button" href="{% url 'categories' %}">Назад</a>
        {% for product in products %}
            <h2>/{{ product.category }}/</h2>
        {% endfor %}
    </div>
    <div class="products">
        {% for product in products %}
            <a href="{{ pk }}/{{ product.id }}">
                    <h3>{{ product.name }} - {{ product.price }}</h3>
            </a>
        {% endfor %}
    </div>
{% endblock %}