<!-- app/templates/products.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Product Card{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/product_card.css' %}">
{% endblock %}

{% block content %}
    <div class="block-h2">
        <h2>/{{ product.category }}/{{ product.name }}/</h2>
    </div>
    <div class="block-buttons">
        <a class="button" href="{% url 'categories' %}{{ pk }}">Назад</a>
        <a class="button" href="{{ pk2 }}/change">Изменить продукт</a>
    </div>

    <h4>Цена - {{ product.price }}</h4>
    {{ product.descriptions }}

{% endblock %}