<!-- app/templates/products.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Products{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}

{% block content %}

    <div class="block-h2">
        <h2>/{{ product.category }}/</h2>
    </div>
    <div class="block-buttons">
        <a class="button" href="{% url 'categories' %}">Назад</a>
        <a class="button" href="{% url 'change_category' pk=pk %}">Изменить категорию</a>
        <a class="button" href="{% url 'add_product' pk=pk %}">Добавить продукт</a>
    </div>

    <div class="products">
        {% for product in products %}
            <a href="{% url 'card_product' pk=pk pk2=product.pk %}">
                <h3>{{ product.name }} - {{ product.price }}</h3>
            </a>
        {% endfor %}
    </div>
{% endblock %}