.categories {
    display: grid;
    grid-template-columns: repeat(7, minmax(256px, 512px));
    padding: 5px;
}

.categories a {
    display: flex;
    align-items: end;
    justify-content: center;
    color: black;

    width: 256px;
    height: 256px;

    margin: 10px;
    border-radius: 10px;

    background-image: url("../img/cataloges_item.jpg");
    background-size: 256px;

    text-decoration: none;
    font-size: 20px;

}

.categories a:hover {
    color: white;
    background-color: var(--header-color-button-hover);
    border-color: var(--header-color-border-button-hover);
    cursor: pointer;
}

.categories a h3 {
    background-color: var(--header-color-button-hover);
    padding: 8px;
    width: 256px;
    height: 58px;
    margin: 0;
    display: flex;
    align-items: center;
    border-radius: 0 0 10px 10px;
}

.categories a h3:hover {
    cursor: default;
}